html,body{
    color: #555;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    
    --nav-load-time: 300ms;
    --nav-link-time :600ms;
    --project-time: 1000ms;
    scroll-behavior: smooth;
}
/* Nav */
nav{
    animation: nav-load var(--nav-load-time) ease-in;
}
.navbar{
    padding: .8rem;
    /* font-family: 'Oswald', sans-serif; */
}
.navbar >ul >li{
    padding-right: 10px;
    font-size: 3em;
}

.navbar-nav li{
    padding-right: 15px ;
    animation-name: nav-link-load ;
    animation-duration: var(--nav-link-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    scale: (0);
}

.navbar-brand > img{
height: auto;
width: 50%;
}

.navbar-nav > li:hover{
    color: turquoise;
}
.nav-link{
    font-size: 2.1em ;
}

/* carousel */
.carousel-inner img{
    height: 100%;
    width: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 600%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px black;
}
.jumbotron{
    padding: 2rem;
    border-radius: 0;
    margin-top: 5px;
}

.row{
    flex-wrap: wrap;
    justify-content: space-around;
}
.Client h2{
    text-align: center;
    margin: 0 auto;
    justify-content: space-around;
}

.title{
    position: relative;
}
.title::after{
    content: "";
    background: #ffd700;
    width: 180px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.modal-body ul li{
    list-style-type: none;
}

/* brands */
.brands{
    margin: 100px auto;
}

.brand{
    width: 160px;
 
}

.brand img{
    width: 100%;
    filter: opacity(95%);
  
}
/* Life cycle */
.lifecycle{
    justify-content: space-around;
  
  /* background: linear-gradient(white , grey); */
  margin-top: 100px;
}


/* map */
.connect #map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.row .cycle{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.fa-business-time{
    color: #341e85;
    font-size: 3rem;
    margin: 20px;
}
.fa-book-open{
    color: #0b061b;
    font-size: 3rem;
    margin: 20px;
}
.fa-comment-dots{
    color: #215366;
    font-size: 3rem;
    margin: 20px;
}

.fa-file-contract{
    color: #4b0e27;
    font-size: 3rem;
    margin: 20px;
}

/* pv */
.pv{
    justify-content: space-around;
    padding: 10px;
    font-size: 24px;
}

.philosophy, .Vision{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.fa-quote-left{
    color: #341e85;
    font-size: 2rem;
    margin: 20px;
}
.Vision >.fa-quote-left{
color: rgb(18, 83, 18);
}

.render{
    margin: 0 auto;
    width: 95;
    animation: render 1000ms ease-in var(--nav-link-time) ;
    /* background: linear-gradient(#341e85 , rgb(3, 46, 3)); */
}
/* .padding{
    padding-top: 100px;
} */
.lifecycle{
    padding-bottom: 50px;
    width: 95%;
    animation-name: lifecycle-load;
    animation-duration: var(--project-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-link-time);

}
.project{
    padding-bottom: .8em;
    animation: project var(--nav-load-time) ease-in;
}

.services{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-top: 100px;
}

.b {
    border-top: 2px solid goldenrod;
}

/* .render{
 
  
} */
/* .statement{
    width: 95%;
} */
.statement  p{
    color: goldenrod;
    font-size: 2rem;
}

hr.light{
    border-top: 2px solid #ffd700;
    margin-top: .8rem;
    margin-bottom: 1rem;
    width: 100%;
}
.address i{
    padding-right: 20px;
}
.address{
    text-align: center;
}
.Connect{
    background-color: #3f3f3f;
    color: white;
}
.connect h2{
    padding: 1.5rem;
}
.social a {
    padding: 4rem;
    padding-top: 1rem;
}
.fa-facebook{
    font-size: 4em;
}
.fa-twitter{
    font-size: 4em;
}
.fa-phone-square , .fa-envelope{
  font-size: 2em;  
}
.car > img{
height: 100%;
width: 100%;
}
.address > img{
height:50px;
}


.h hr{
    border-top: 2px solid #ffd700;
    width: 100%;
}
h1{
    animation: what 500ms ease-out;  
}
 
/* animation */
@keyframes nav-load{
0%{
    transform: translateY(-100%);
}

100%{
    transform: translateY(0);
}
}

@keyframes what{
    0%{
        transform: scale(0);
    }
    
    100%{
        transform: translateY(0);
    }
    }

@keyframes nav-link-load {
    0%{
        transform: translateY(-100%);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: translateY(1);
    }
}

@keyframes render{
    0%{
        transform: translateY(-100%);
    }
    
    100%{
        transform: translateY(0);
    }
    }


@keyframes lifecycle-load{
    0%{
        transform: translateY(+100%);
    }
    
    100%{
        transform: translateY(0);
    }
    }

/* Media querries */
@media(max-width : 992px){
    .social a {
        font-size: 1.5em;
        padding-right: 2rem;
    }
}
    @media (max-width : 768px){
.social a {
    font-size: 1.5em;
    padding-right: 1.5em;
}
    }

    @media (max-width : 556px){
        .social a {
            font-size: 1.5em;
            padding: 1em;
        }
        .carousel-caption h1{
            position: relative;
            top: 30%;
            font-size: 300% ;
        }
       
    }
      @media (min-width : 768px){
       .PR , .Web .Dev, .Media{
          
            width: 25%;
        }
    }  